Run code not properly converted

Input:
```ahk
    Run, msedge.exe -inprivate "https://www.google.com/search?q=%Temp%"
```

Output:
```ahk
    Run("msedge.exe -inprivate `"https://www.google.com/search?q=" Temp "`"")
```

But, when I press the hotkey, https://www.google.com/search?q= gets opened, which is not the expected URL. So, there is something wrong with the output code.

Can't reproduce, what's in the `Temp` variable

The full v1 script is as follows:

```
#g::
GetText(Temp)
If NOT ERRORLEVEL
{
    ; Modify some characters that screw up the URL
    ; RFC 3986 section 2.2 Reserved Characters (January 2005):  !*'();:@&=+$,/?#[]
    StringReplace, Temp, Temp, `r`n, %A_Space%, All
    StringReplace, Temp, Temp, #, `%23, All
    StringReplace, Temp, Temp, &, `%26, All
    StringReplace, Temp, Temp, +, `%2b, All
    StringReplace, Temp, Temp, ", `%22, All

    Run, msedge.exe -inprivate "https://www.google.com/search?q=%Temp%"
}
Return

GetText(ByRef MyText = "")
{
   SavedClip := ClipboardAll ; Store full version of Clipboard
   Clipboard = ; Empty the clipboard
   Send ^c
   ClipWait 0.5   ; Waits until the clipboard contains data with a timeout of 0.5 s
   If ERRORLEVEL
   {
      Clipboard := SavedClip ; Restore Clipboard
      MyText =
      MsgBox, No text was sent to clipboard
      Return
   }
   MyText := Clipboard
   Sleep 10
   Clipboard := SavedClip
   Return MyText
}
```

It looks like that the issue was caused due to incorrect manual editing of the converted code in an attempt to fix https://github.com/mmikeww/AHK-v2-script-converter/issues/115.

I have now converted it to the following v2 code and it seems to work fine.

```ahk
#g::
{ ; V1toV2: Added bracket
Temp := GetText()
    ; Modify some characters that screw up the URL
    ; RFC 3986 section 2.2 Reserved Characters (January 2005):  !*'();:@&=+$,/?#[]
    Temp := StrReplace(Temp, "`r`n", A_Space)
    Temp := StrReplace(Temp, "#", "`%23")
    Temp := StrReplace(Temp, "&", "`%26")
    Temp := StrReplace(Temp, "+", "`%2b")
    Temp := StrReplace(Temp, "`"", "`%22")

    Run("msedge.exe -inprivate `"https://www.google.com/search?q=" Temp "`"")
Return
} ; V1toV2: Added Bracket before function

GetText(&MyText := "")
{
   SavedClip := ClipboardAll() ; Store full version of Clipboard
   A_Clipboard := "" ; Empty the clipboard
   Send("^c")
   Errorlevel := !ClipWait(0.5)   ; Waits until the clipboard contains data with a timeout of 0.5 s
   If ERRORLEVEL
   {
      A_Clipboard := SavedClip ; Restore Clipboard
      MyText := ""
      MsgBox("No text was sent to clipboard")
      Return
   }
   MyText := A_Clipboard
   Sleep(10)
   A_Clipboard := SavedClip
   Return MyText
}
```